.divStyle {
    display: inline-flex;
    padding: 5px;
    margin: 15px;
    height: 210px;
    width: 250px;
    border: 1px solid black;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 0.75rem;
}

.matErrorAccount {
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
}

.divStyle>div {
    flex: auto;
}

.mainDivActions {
    width: 100%;
    margin: 20px;
}

.mainDivActions h2 {
    font-weight: 400;
}

.submitBtn {
    display: block;
    margin-top: 15px;
    margin-left: 17px;
}

.homeDiv {
    margin: 20px;
}

#homeHeader {
    font-weight: 400;
}

#accountFillErr {
    margin-left: 0;
    margin-top: 0;
}