.mainDiv {
    background-color: #F5F5F5;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.mainDiv .navBtn,
h1 {
    margin-right: 20px;
}

.navBtn {
    width: 160px;
    height: max-content;
    color: black;
    font-size: larger;
}