<form (submit)="onSubmit(actionForm)" class="example-form" #actionForm="ngForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Amount $</mat-label>
        <input class="inputTag" #amount="ngModel" min="1" required type="number" name="amount" matInput
            placeholder="Amount $" ngModel>
        <mat-error *ngIf="amount.invalid">amount must be filled and minimum 1$</mat-error>
        <mat-error *ngIf="!this.currentAccount">account must be filled</mat-error>
    </mat-form-field>
    <button [disabled]="amount.invalid || !this.currentAccount" type="submit" mat-raised-button color="primary"
        class="actionBtn">
        save {{currentAction}} !
    </button>
</form>